@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 8px 0;
  display: flex;
  align-items: center;
}

input[type="text"], textarea, input[type="date"], input[type="password"] {
  padding: 8px;
  margin: 8px;
  border: 1px solid #fff;
  background: var(--background);
}

button {
  margin-left: 8px;
  padding: 4px 8px;
  cursor: pointer;
} */
/* Basic reset for consistency */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, "system-ui", "Segoe UI", Roboto, "Apple Color Emoji", Helvetica, Arial, sans-serif;
}

h1 {
  font-size:2em;
  margin:10px;
}

.block {
  margin: auto;
  width: 500px;
}

.primary {
  margin-top:20px;
  background: red;
  width:100%;
  color: white;
  border-radius: 10px; /* Adjust the radius as needed */
  padding: 10px; /* Optional: adds padding inside the element */
  text-align: center; /* Optional: centers the text */
}

.link {
  color: blue;
}

.input-box {
  border:2px solid #e6e6e6;
  margin:5px;
  width:100%;
}

.input-box label {
  display: block;
  margin: 5px 0 0 15px;
  font-size: 0.8em;
  color: grey;
}

.input-box input {
  display: block;
  width: 100%;
}

.block h1 {
  margin: auto;
  text-align: center;
}

ul.task-list li {
  border-bottom: 1px solid #e9e9e9;
}

/* Container for each checkbox */
.checkbox-container {
  display: inline-block;
  margin: 10px;
}

/* Hide native checkboxes */
.rounded-checkbox {
  display: none;
}

/* Style the label */
.checkbox-container .custom-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border: 2px solid #333;
  border-radius: 50%; /* Rounded shape */
  cursor: pointer;
  transition: background-color 0.2s;
}

/* Style for checked state */
.rounded-checkbox:checked + .custom-checkbox {
  background-color: #333;
}

/* Checkmark styling */
.rounded-checkbox:checked + .custom-checkbox::after {
  content: '✔';
  color: white;
}

/* Checkmark styling */
.delete, .task-input button {
  content: 'X';
  color: white;
  background: #FF7276;
  border:1px solid #e9e9e9;
  border-radius: 5%; /* Rounded shape */
}

.delete {
  font-size:8px;
}

.date {
  font-size: 0.8em;
  color:grey;
}

.date::before {
  margin-right: 3px;
  content: '📅';
}

.action-buttons {
  margin-left: auto; 
  margin-right: 0;
}

.title {
  margin-right: 10px;
  display:block;
}

.date {
  margin-right:100px;
}

.description {
  font-size: 0.9em;
  color: grey;
}

.task-input {
  border:1px solid #e9e9e9;
  border-radius: 2%; /* Rounded shape */
}

.task-input input, .task-input textarea {
  display: block;
  width: 100%;
}

.task-input input[type=date] {
  display:inline;
  width: 50%;
  color: grey;
}

.task-input button {
  float: right;
  margin-right: 10px;
}
